/* nav bar always white with blue links; not just when afixed */
.navbar {background-color: rgba(255, 255, 255, 0.5); z-index: 1000;}
.navbar-custom .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {color: #0085a1;}

/* move controls down as new nav bar */
.leaflet-top                    {top: 60px;}

/* sidebar */
.leaflet-sidebar            {padding-top: 60px;}
.leaflet-sidebar .close     {top: 65px; right: 5px; z-index: 1000 }
#sidebar h2                 {font-size: 24px;}
#sidebar p                  {margin: 0 0 14px; font-size: 1.3em;}
#sidebar .btn               {padding-left: 30px; padding-right: 30px;}
#sidebar .center            {text-align: center; margin-top: 20px;}
#sidebar .btn-primary       {color: #fff; font-weight: 600; text-decoration: none;}

/* colours for controls - match FA icon colours */
.red        {color: #D53E2A}
.darkblue   {color: #0066A2}
.blue       {color: #38A9DC}
.lightblue  {color: #8ADAFF}
.darkgreen  {color: #718224}
.green      {color: #72AF26}
.lightgreen {color: #BBF970}
.purple     {color: #D152B8}
.pink       {color: #FF91EA}
.lightgray  {color: #A3A3A3}

/* popups */
.leaflet-popup-content-wrapper  {border-radius: 4px; min-width: 300px;}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);}

.popup-content h2     {font-size: 24px; font-weight: 300;}
.popup-content .city  {font-size: 16px; color: #999; text-transform: uppercase}


/* marker cluster */
/* -------------- */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}

/* all sizes same colours */
.marker-cluster 		{background-color: rgba(213, 62, 42, 0.4) }
.marker-cluster div   	{color: white; background-color: rgba(213, 62, 42, 0.9)}









/* awesome markers */
/* --------------- */

/* Marker setup */
.awesome-marker {
  background: url('images/markers-soft.png') no-repeat 0 0;
  width: 35px;
  height: 46px;
  position:absolute;
  left:0;
  top:0;
  display: block;
  text-align: center;
}

.awesome-marker-shadow {
  background: url('images/markers-shadow.png') no-repeat 0 0;
  width: 36px;
  height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
 .awesome-marker {
  background-image: url('images/markers-soft@2x.png');
  background-size: 720px 46px;
 }
 .awesome-marker-shadow {
  background-image: url('images/markers-shadow@2x.png');
  background-size: 35px 16px;
 }
}

.awesome-marker i {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
}

.awesome-marker .icon-white {
  color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
  background-position: 0 0;
}

.awesome-marker-icon-darkred {
  background-position: -180px 0;
}

.awesome-marker-icon-lightred {
  background-position: -360px 0;
}

.awesome-marker-icon-orange {
  background-position: -36px 0;
}

.awesome-marker-icon-beige {
  background-position: -396px 0;
}

.awesome-marker-icon-green {
  background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
  background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
  background-position: -432px 0;
}

.awesome-marker-icon-blue {
  background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
  background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
  background-position: -468px 0;
}

.awesome-marker-icon-purple {
  background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
  background-position: -288px 0;
}

.awesome-marker-icon-pink {
  background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
  background-position: -324px 0;
}

.awesome-marker-icon-white {
  background-position: -574px 0;
}

.awesome-marker-icon-gray {
  background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
  background-position: -612px 0;
}

.awesome-marker-icon-black {
  background-position: -682px 0;
}