---
layout: home
description: ""
---

<section>
    <div class="container">
        <div class="row widerGutter">
            <div class="col-md-6">
                <h2>African American Transatlantic Abolitionism</h2>
                
                <p>Welcome to my African American Mapping Project!</p> 
                    
                <p> Here you will find information on formerly enslaved African Americans who made radical and politicized journeys to the British Isles during the c19th to educate British audiences about slavery, racism, and lynching. They spoke in large cities and small fishing villages across the length and breadth of the British Isles, published thousands of copies of their slave narratives and spoke to millions of people. The maps of their speaking locations are designed to be visual monuments of their courageous and inspiring activism, and how Britons walk past sites rich in Black activism on a daily basis.</p>
                   
                <p> African American Activist Frederick Douglass is the main focus of the project, although it has grown to include Moses Roper, Josiah Henson, James Watkins, and Ida B. Wells, to name a few. Douglass was an abolitionist, civil rights activist, feminist and advocate of social justice. He travelled to Britain in 1845 for 19 months, lecturing against slavery in the United States.</p> 

                <p> To an American audience, Douglass is perhaps the most famous fugitive from slavery, but in Britain he is less well known, despite the fact he achieved great celebrity in the mid nineteenth century.</p> 

               </div>
             <div class="col-md-6">
                 <p> His lectures in Britain and Ireland were fascinating works of oratory and they provide extraordinary insight into Douglass' life, as well as Victorian society in the 1840s and beyond. The controversies Douglass created and became embroiled in illustrate his electrifying capacity as an oratory and performer. Douglass returned to the States in 1847 a free man: British abolitionists had purchased his legal freedom.</p>
  
           
            </div>
             <div class="col-md-6">
                <img src="/img/Frederick_Douglass.jpg" alt="Frederick Douglass as a younger man"/>
                <span class="caption text-muted">Frederick Douglass as a younger man (Wikipedia)</span>
            </div>
        </div>  
    </div> 
</section>

            
Follow the links in the navigational bar to see Frederick Douglass' speaking map of Britain, and another showing an overview of African American Abolitionists in Britain (this map contains roughly 2,000 lectures).

I'm currently updating the maps in Carto, and the ones above will eventually look like the two below. These maps have 4,800 speaking locations. Bear with me through the updates!

<iframe width="100%" height="520" frameborder="0" src="https://murray7872.carto.com/builder/c07d5997-67e8-4eff-96b2-4c72eb49f786/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

This map shows Black Abolitionists speaking locations over time (from 1837-1900), with each coloured dot representing a different figure.

<iframe width="100%" height="520" frameborder="0" src="https://murray7872.carto.com/builder/bc758dea-f0f8-47ca-a525-e31d229c9668/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<section>
    <div class="container">
        <div class="row widerGutter">
            <div class="col-md-6">
                <h3 style="padding-top: 4em">Frederick Douglass' Journey</h3>
                                <p>The following links chart Douglass' journey in Britain: they cover his arrival, reception in Ireland, Scotland and England and the numerous controversies he became involved in.</p> 

                <ul class="sidenav">

                    {% comment %}
                      Generates nav of pages with `layout: journey` in the front-matter (ie JUST journey pages)
                      Plus excludes pages without title
                      Plus sorts on sortTitle (ie exclude the)
                      see http://www.leveluplunch.com/blog/2014/04/03/sort-pages-by-title-filter-array-by-layout-jekyllrb/
                    {% endcomment %}

                    {% assign pages = (site.pages | where: "layout" , "journey" | sort: "sortTitle") %}
                    {% for page in pages %}
                        {% if page.title %}
                            
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                            
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>

             <div class="col-md-6">
                <h3 style="padding-top: 4em">Transatlantic Abolitionists</h3>
                                <p>Follow the links below to learn about the abolitionists who campaigned against American slavery in Britain and Ireland during the nineteenth century.</p> 

                 <ul class="sidenav">

                    {% comment %}
                      Generates nav of pages with `layout: abolitionist` in the front-matter (ie JUST abolitionist pages)
                      Plus excludes pages without title
                      Plus sorts on sortTitle (ie surname)
                      see http://www.leveluplunch.com/blog/2014/04/03/sort-pages-by-title-filter-array-by-layout-jekyllrb/
                    {% endcomment %}

                    {% assign pages = (site.pages | where: "layout" , "abolitionist" | sort: "sortTitle") %}
                    {% for page in pages %}
                        {% if page.title %}
                            
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                            
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>  
    </div> 
</section>
