---
layout: home
description: ""
---

<section>
    <div class="container">
        <div class="row widerGutter">
            <div class="col-md-6">
                <h2>African American Transatlantic Abolitionism</h2>
                
                <p>Welcome to my African American Mapping Project!</p> 
                    
                <p> Here you will find information on formerly enslaved African Americans who made radical and politicized journeys to the British Isles during the c19th to educate British audiences about slavery, racism, and lynching. They spoke in large cities and small fishing villages across the length and breadth of the British Isles, published thousands of copies of their slave narratives and spoke to millions of people. The maps of their speaking locations are designed to be visual monuments of their courageous and inspiring activism, and how Britons walk past sites rich in Black activism on a daily basis.</p>
                   
                <p> African American Activist Frederick Douglass is the main focus of the project, although it has grown to include Moses Roper, Josiah Henson, James Watkins, and Ida B. Wells, to name a few. Douglass was an abolitionist, civil rights activist, feminist and advocate of social justice. He travelled to Britain in 1845 for 19 months, lecturing against slavery in the United States.</p> 

                <p> To an American audience, Douglass is perhaps the most famous fugitive from slavery, but in Britain he is less well known, despite the fact he achieved great celebrity in the mid nineteenth century.</p> 

               </div>
             <div class="col-md-6">
                 <p> His lectures in Britain and Ireland were fascinating works of oratory and they provide extraordinary insight into Douglass' life, as well as Victorian society in the 1840s and beyond. The controversies Douglass created and became embroiled in illustrate his electrifying capacity as an oratory and performer. Douglass returned to the States in 1847 a free man: British abolitionists had purchased his legal freedom.</p>
  
           
            </div>
             <div class="col-md-6">
                <img src="/img/Frederick_Douglass.jpg" alt="Frederick Douglass as a younger man"/>
                <span class="caption text-muted">Frederick Douglass as a younger man (Wikipedia)</span>
            </div>
        </div>  
    </div> 
</section>


<section>
    <div class="container">
        <div class="row widerGutter">
            <div class="col-md-6">
            
              
                My website has several elements to it. Below, you'll find links to abolitionist biographies and various events/themes relating to Frederick Douglass' 3 journeys to the British Isles.
                In the navigational bar above, you'll find three pages dedicated to mapping African American lecturing tours: one is entirely focused on Douglass, the second represents nearly 5,000 lectures from Douglass and 25 other African Americans, and the third shows a chronology of visits over time.
                
                </div>
             <div class="col-md-6">
                 <p> 
                    
                You'll notice that I'm using two different types of maps: to learn more about their journeys, who they stayed with, why did they visit at a particular time, and their networks, it's helpful to explore multiple ways to visualize their activism.
                You can also find information about my public engagement work (walking tours, exhibitions etc), and a page showing my publications.

            </div>
<section>
    <div class="container">
        <div class="row widerGutter">
            <div class="col-md-6">
                <h3 style="padding-top: 4em">Frederick Douglass' Journey</h3>
                                <p>The following links chart Douglass' journey in Britain: they cover his arrival, reception in Ireland, Scotland and England and the numerous controversies he became involved in.</p> 

                <ul class="sidenav">

                    {% comment %}
                      Generates nav of pages with `layout: journey` in the front-matter (ie JUST journey pages)
                      Plus excludes pages without title
                      Plus sorts on sortTitle (ie exclude the)
                      see http://www.leveluplunch.com/blog/2014/04/03/sort-pages-by-title-filter-array-by-layout-jekyllrb/
                    {% endcomment %}

                    {% assign pages = (site.pages | where: "layout" , "journey" | sort: "sortTitle") %}
                    {% for page in pages %}
                        {% if page.title %}
                            
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                            
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>

             <div class="col-md-6">
                <h3 style="padding-top: 4em">Transatlantic Abolitionists</h3>
                                <p>Follow the links below to learn about the abolitionists who campaigned against American slavery in Britain and Ireland during the nineteenth century.</p> 

                 <ul class="sidenav">

                    {% comment %}
                      Generates nav of pages with `layout: abolitionist` in the front-matter (ie JUST abolitionist pages)
                      Plus excludes pages without title
                      Plus sorts on sortTitle (ie surname)
                      see http://www.leveluplunch.com/blog/2014/04/03/sort-pages-by-title-filter-array-by-layout-jekyllrb/
                    {% endcomment %}

                    {% assign pages = (site.pages | where: "layout" , "abolitionist" | sort: "sortTitle") %}
                    {% for page in pages %}
                        {% if page.title %}
                            
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                            
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>  
    </div> 
</section>
